/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Lucida Console", serif;
    background-color: #3c4650;
}

button {
    transition: all .5s ease;
    color: white;
    border: 3px solid white;
    font-family:"Lucida Console", sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 6px;
}

input {
    width: 80%;
    padding: 4px 4px;
    margin: 0 30px;
    box-sizing: border-box;
}

form {
    width: 50%;
    padding : 25px;
    border : 4px;
    border-radius: 5px;
    background-color: white;
    margin: 30px auto;
}


header {
    background-color: black;
    padding: 12px 0;
    color:white;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-nav-bar {
    background-color: black;
    color: white;
    margin-bottom: 0%;
    margin-top: 0%;
}

.courses-span {
    color: white;
    margin-bottom: 0%;
    margin-top: 0%;
}

.courses-top {
    text-align: center;
    margin: 25px 0;
}

.courses {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}

a{
    color: blue;
    font-weight: 600;
    transition: 0.3s;
}

nav a {
    text-decoration: none;
    color: white;
}

.login-input {
    width: 80%;
    padding: 4px 4px;
    margin: 0 30px;
    box-sizing: border-box;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}